<div>
  <h1 class="exp-title">Experience</h1>
  <% @user.experiences.each do |experience| %>
    <div class="well experience-border text-content-just">
      <h3><%= experience.title %></h3>
        <p>
          <%= experience.body %>
        </p>
    </div>
    <% end %>
</div>
