<div class="">
  <h1 id="opening-title">Openings</h1>
  <% @user.openings.each do |opening| %>
    <div class="well opening-border col-md-12">
      <h3><%= opening.title %></h3>
        <p>
          <%= opening.body %>
        </p>
    </div>
    <% end %>
</div>
