<h1 id="tag-title">Tags</h1>
<div id="tag-content" class="well tag-border">
  <% User::TAG_CONTEXTS.each do |tag_context| %>
  <div>
    <%if (!@user.send("#{tag_context}_list").empty?)%>
    <%= tag_context.to_s.humanize %>: <%= @user.send("#{tag_context}_list") %>
    <% end %>
  </div>
  <% end %>
</div>
