<div class="container">
  <h1 class="center lobster">Welcome to 6Degrees</h1>
  <div id="map" class="index-map"></div>
</div>

<div id="index-search">
  <div class="container">
    <h1>Search by:</h1>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
