// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-title-text{
  font-size: 30px;
}

.image-resize{
  height: auto;
  max-width: 100%;
}

#all-posts-title{
  text-align: center;
}

.post-background{
  background-color: #2a2a2a;
  padding: 30px;
  margin: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

.post-index-container{
  padding: 30px;
}

#all-posts{
  background-color: #151515;
}

.post-all{
  background-color: black;
  color: white;
  width: 100%;
  min-height: 700px;
}

.post-user-pic-thumb{
  height: 50px;
  width: 50px;
}
