// edit
form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
  width: 100%;
}

// profile-show
.profile-pic{
  width: 360px;
  height: 350px;
  float:left;
}

.profile-header-name{
  font-size: 45px;
}

.profile-header{
  font-size: 25px;
}

.profile-github{
  font-size: 15px;
  font-weight: bold;
}

.show-container{
  background-color: #BCBABA;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding: 30px;
  min-height: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-content-just{
  text-align: justify;
}

// Tag show
.tag-title{
  text-align: center;
}

.padding-infowindow{
  padding-left: 50px;
}

.select2-selection__choice {
  background-color: #3f3f3f !important;
  color: white;
}

// relationships
// .btn-follow{
//   padding-top: 10px;
// }
//
// .stats {
//   overflow: auto;
//   margin-top: 0;
//   padding: 0;
//   a {
//     float: left;
//     padding: 0 10px;
//     // border-left: 1px solid $gray-lighter;
//     color: gray;
//     &:first-child {
//       padding-left: 0;
//       border: 0;
//     }
//     &:hover {
//       text-decoration: none;
//       color: blue;
//     }
//   }
//   strong {
//     display: block;
//   }
// }
//
// .user_avatars {
//   overflow: auto;
//   margin-top: 10px;
//   .gravatar {
//     margin: 1px 1px;
//   }
//   a {
//     padding: 0;
//   }
// }

.black{
  border-color: black;
}

// registration
.registration-title{
  font-size: 60px;
  font-family: lobster;
  color: white;
  text-align: center;
}

.registration-container{
  color: white;
  padding: 30px 30px 100px 30px;
}

// edit profile
.profile-container{
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  padding: 30px 30px 100px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-form{
  margin-top: 30px;
  text-align: center;
}

.well.tag-border{
  border-color: blue;
}

// opening
.well.opening-border{
  border-color: orange;
}

.opening-title{
  text-align: center;
}

.opening-container{
  background: rgba(255,255,255,0.9);
  border-width: 4px;
  border-color: orange;
  border-style: solid;
  border-radius: 10px;
  padding: 30px 30px 100px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 675px;
}

.btn-opening {
  margin: auto;
  border-width: 4px;
  border-color: orange !important;
  border-style: solid;
}

// experience
.well.experience-border{
  border-color: purple;
}

.exp-title{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.experience-container{
  background: rgba(255,255,255,0.9);
  border-width: 4px;
  border-color: purple;
  border-style: solid;
  border-radius: 10px;
  padding: 30px 30px 100px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 675px;
}

.btn-experience {
  margin: auto;
  border-width: 4px;
  border-color: purple !important;
  border-style: solid;
}

// project
.well.project-border{
  border-color: green;
}

.project-title{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.project-image{
  float: left;
}

.project-container{
  background: rgba(255,255,255,0.9);
  border-width: 4px;
  border-color: green;
  border-style: solid;
  border-radius: 10px;
  padding: 30px 30px 100px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-project {
  margin: auto;
  border-width: 4px;
  border-color: green !important;
  border-style: solid;
}

// edit personal info
.edit-title{
  font-size: 40px;
  font-family: lobster;
  text-align: center;
}

.user-edit-container{
  background: rgba(255,255,255,0.9);
  border-width: 4px;
  border-color: blue;
  border-style: solid;
  border-radius: 10px;
  padding: 30px 30px 100px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 675px;
}

.btn-edit-info {
  border-width: 4px;
  border-color: blue !important;
  border-style: solid;
}

// map
.user-map-title{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.map {
  width: 100%;
  height: 500px;
}
