// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index-search{
  background-color: black;
  color: white;
  padding-bottom: 20px;
}

.index-map{
  height: 550px;
  margin-bottom: 50px;
}

.select-tag{
  max-width: 90%;
}

.search-label{
  font-size: 30px;
}

#search-btn{
  text-align: center;
  // border: 3px solid red;
  width: 100%;
}

#search-title{
  padding: 15px;
}

#params-display{
  color: #696969;
}

#welcome-title{
  color: white;
  padding-bottom: 10px;
  text-align: center;
  font-family: lobster;
  font-size: 60px;
}
