<footer>
  <div class="home-footer footer navbar-bottom">
    <div class="home-footer-left">
      <div><a class="lobster hvr-grow" href="http://localhost:3000/"><span id="six-degrees">6Degrees</span>&nbsp;&nbsp;<span id="for">for</span><span id="web-dev">Web Developers</span></a></div>
      <div><%= link_to "About"%></div>
      <div><%= link_to "Contact"%></div>
    </div>
    <div class="home-footer-right">
      <div class="hvr-grow"><%= image_tag "codecore-logo.png", class: "codecore-logo" %></div>
    </div>
  </div>
</footer>
